:root {
    --main-theme-color: #53a457;
}

/* Customer choice product section*/
.choice-product :hover img {
    border-radius: 0% !important;
    box-shadow: lightgray 0 5px 5px;
    transition: transforms 0.12s 0s;
    transform: scale(1.01);
}

/* For Weekend offer section */
.weekend-offer {
    background-color: var(--main-theme-color);
    color: white;
}

/* For Product  Cart */
.cart button {
    border: none;
    border-radius: 5px;
    width: 45px;
    display: block;

}

.cart button:active {
    transform: scale(.95);
}

.cart-btn:active {
    transform: scale(.92);
}

.cart input {
    border: none;
    max-width: 55px;
    height: 37px;
    background-color: rgb(246, 239, 239) !important;
    pointer-events: none;
}

/* Footer */
.link-icon {
    background-color: #ffc107;
    border-radius: 50%;
    color: black;
    height: 45px;
    width: 45px;
}

li {
    list-style: none;
}

#about h6 {
    font-size: larger;
}

#about p {
    font-size: large;
}

#about a {
    font-size: large;
    text-decoration: none !important;
}
#about .span{
    font-size: medium;
}